In [2]:
import numpy as np
import pandas as pd
import tqdm

test = np.load("result/default/cov_matrix.npy")

In [3]:
df = pd.read_csv("result/default/pred_rating.csv")

In [6]:
for user in tqdm(df["user_id"].unique()):
    print(user)

TypeError: 'module' object is not callable

In [4]:
df

        user_id  item_id    rating data_type
0             0        0  5.000000     train
1             0        1  3.000000     train
2             0        2  3.064958      test
3             0        3  3.847407      test
4             0        4  3.000000     train
...         ...      ...       ...       ...
833464      942     1677  3.683254   unknown
833465      942     1678  3.586472   unknown
833466      942     1679  3.450281   unknown
833467      942     1680  3.450281   unknown
833468      942     1681  3.450281   unknown

[833469 rows x 4 columns]